* {
  box-sizing: border-box;
  /* border: red 1px solid; */
  font-family: 'Comfortaa', cursive;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.profile-image-upload img {
  max-width: 60%;
  max-height: 30vh;
}

#navpadding {
  background: none;
  padding: 28px 0;
}

.topnav {
  background-color: #ffdab9c2;
}

.jumbotitledown {
  padding-top: 50px;
}

.scroll {
  height: 400px;
  overflow-y: scroll;
}