* {
  box-sizing: border-box;
  /* border: red 1px solid; */
  font-family: 'Comfortaa', cursive;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  min-height: 100%;
  position: relative;
  padding-bottom: 3.5rem;
}

.logo-nav {
  width: 120%;
}
@media (prefers-reduced-motion: no-preference) {
  .logo-nav:hover {
    animation: App-logo-spin infinite 0.5s linear;
  }
}

@keyframes logo-nav {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.main-container {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 200px;
}

.profile-image-upload img {
  max-width: 60%;
  max-height: 30vh;
}

#navpadding {
  background: none;
  padding: 28px 0;
}

.topnav {
  background-color: #ffdab9c2;
}

.scroll {
  height: 400px;
  overflow-y: scroll;
}
.jumbotron.jumbotop{
  padding-top: 108px;
}

.to-link:hover {
  cursor: pointer;
}

.thewholenavbar {
  background-color: #cb997e;
  opacity: .85;
  width: 100%;
}

#dashie {
  background-color: #eddcd2;
  /* padding: 5px 10px; */
}
#dashie:hover {
  background-color: #fcbf49;
}

#search {
  background-color: #eddcd2;
}
#search:hover {
  background-color: #fcbf49;
}

#logout {
  background-color: #eddcd2;
}
#logout:hover {
  background-color: #fcbf49;
}

#dash-preview {
  margin: 0;
  padding: 10px;
  background: none;
  /* border: 10px solid #ffddd2; */
}

#dash-image {
  margin-right: 0;
  /* margin: 1em; */
  border-radius: 10px;
}

#btnprofile {
  margin-top: 40px;
  background-color: #02c39a;
}

#btnprofile:hover {
  background-color: #00a896;
}

.fav-track-dash {
  background-color: #293241;
}

#jumbo-dashboard {
  margin: 0;
  margin-top: 5em;
  /* background-color: #b7b7a4; */
  border-radius: 0;
  background-image: url("https://images.pexels.com/photos/37337/cat-silhouette-cats-silhouette-cat-s-eyes.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.85;
  height: 30vh;
}

#jumbo {
  /* background-color: #b7b7a4; */
  background-image: url("https://images.pexels.com/photos/2817419/pexels-photo-2817419.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.85;
  height: 70vh;
  margin-bottom: 0em;
}

.container-bg {
  background-color: #f0efeb;
}

#title-container {
  margin-top: 8em;
}

#search-container {
  padding: 2em;
}

.learn-container {
  padding: 2rem;
  background-color: #e9ecef;
}

#search-bar {
  margin-top: 1rem;
}

#footerz {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  background-color: #ffa69e;
}
#login {
  background-color: #EDDCD2;
}
#login:hover {
  background-color: #FCBF49;
}
#register {
  background-color: #EDDCD2;
}
#register:hover {
  background-color: #FCBF49;
}